body{
    margin: 0;
    font-family: sans-serif;
}

header{
    height: 100px;
    background-color: lightgrey;
    padding: 10px;
}
main{
     background-image: url(../imgs/fondo.png);
     background-repeat: no-repeat;
     background-size: cover;
 }

a{
    text-decoration: none;
}

.logo{
width: 75px;
height: 82px;
border-radius: 5px;

}

.container-fluid{
  background-color: lightgray;
}

nav{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
}

nav ul li{
    display: flex;
    margin: 10px; 
    border: solid 1px;
    padding: 3px;
}



.button{
    display: inline-block;
    margin-left: 5px;
    background-color: lightgrey;
    color: white;
    cursor: pointer;
    text-decoration: none;
    height: 55px;
    width: 55px;
}

.button:hover{
    background-color: beige;
}

.buttonimg{
    height: 40px;
    width: 40px;
    margin-left: 5px;
    margin-top: 5px;
    color: beige;
    
}
   
  

.buscar div{
    background-color: lightgray;
    display: flex;
    width: 100%;
    height: 75px;
    justify-content: center;
    
}

.contenedorBusqueda input[type=text] {
   
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
}


.producto img{
    height: 200px;
    width: 200px;
    margin: 20px;
    border: solid 2px;
}

.imagenesProd{
    display: flex;

    padding: 30px;
    justify-content: center;
    align-items: center;
}
.hr{
    background-color: cadetblue;
}

.pie{
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
    padding: 50px;
    border-top: solid black;

}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid black;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .producto button:hover{
    background-color: aqua;
    
  }
  /* Estilos del botón */
  .buttonPagar {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .buttonPagar:hover {
    background-color: #45a049;
  }


  .volver{
    border: solid black;
    text-decoration: none;
  }
  .volver:hover{
    background-color: lightgray;
  }

.buscar{

  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 4px;
}

.buscar:hover{
background-color: #125875;
}

.botonesnav{
  background-color: #00d5e4;
  border-radius: 4px;
  padding: 9px;


}

.botonesnav:hover{
background-color: #125875;
}
.navegacion{
  background-color: lightgray;
  padding: 0px;
}

.card{
margin: 25px;
}

.card:hover{
  background-color: #125875;
  box-shadow: 0px 10px 10px #125875;
}

.card-body{
display: flex;
justify-content: space-around;
align-items: center;
border-top: solid 1px;
}
.redes{
  width: 25px;
  height: 25px;
  border-radius: 15px;
}

.social{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
